# Ignore everything...

/*

# Except...

# Repo files
!.github/
!.gitattributes
!.gitignore
!.gitmodules

# Project files
!src/
!etc/
!docs/
!LICENSE/
!LICENSE.*
!README*

# Third-party libraries
!lib/

!gradlew.bat
!?*.gradle
!*.properties
!gradle.*
!build.*

# Integrations
!codeformat/
!.travis.yml

# Ignore Mac directory files
*.DS_Store
