# Configuration file

biome {

    buildcraft {

        desertoilfield {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: true]
            B:"Use RTG Decorations"=true
        }

        oceanoilfield {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: true]
            B:"Use RTG Decorations"=true
        }

    }

}


