# Configuration file

biomes {
    # If TRUE, uses the individual biome settings below. If FALSE, disables all biomes from this mod. [default: true]
    B:"Generate Biomes"=true

    #  [default: true]
    B:generateBCDesertOilField=true

    #  [default: true]
    B:generateBCOceanOilField=true
}


villages {
    #  [default: false]
    B:villageBCDesertOilField=false

    #  [default: false]
    B:villageBCOceanOilField=false
}


weights {
    #  [range: 0 ~ 20, default: 1]
    I:weightBCDesertOilField=1

    #  [range: 0 ~ 20, default: 1]
    I:weightBCOceanOilField=1
}


