# Configuration file

biome {

    atg {

        gravelbeach {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        rockysteppe {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        shrubland {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        snowygravelbeach {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tropicalshrubland {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tundra {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        volcano {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        woodland {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

    }

}


