# Configuration file

biome {

    forgottennature {

        cherryblossomwoodland {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        crystalforest {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        eucalyptusforest {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        greatwoodforest {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        mapleforest {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        redwoodforest {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        redwoodforesthills {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tropicalforest {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tropicalforesthills {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

    }

}


