# Configuration file

biome {

    tofucraft {

        leekplains {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tofubuildings {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tofuextremehills {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tofuextremehillsedge {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tofuforest {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tofuforesthills {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tofuplainhills {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tofuplains {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

        tofuriver {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: ]
            S:"RTG Surface: Filler Block"=

            #  [default: ]
            S:"RTG Surface: Filler Block Meta"=

            #  [default: ]
            S:"RTG Surface: Top Block"=

            #  [default: ]
            S:"RTG Surface: Top Block Meta"=

            #  [default: true]
            B:"Use RTG Decorations"=true

            #  [default: true]
            B:"Use RTG Surfaces"=true
        }

    }

}


