# Configuration file

"bop biomes" {
    #  [default: true]
    B:"Generate BOP Biomes"=true

    #  [default: true]
    B:generateBOPBlossomGrove=true

    #  [default: true]
    B:generateBOPalps=true

    #  [default: true]
    B:generateBOPalpsForest=true

    #  [default: true]
    B:generateBOParctic=true

    #  [default: true]
    B:generateBOPayou=true

    #  [default: true]
    B:generateBOPbambooForest=true

    #  [default: true]
    B:generateBOPbog=true

    #  [default: true]
    B:generateBOPborealForest=true

    #  [default: true]
    B:generateBOPbrushland=true

    #  [default: true]
    B:generateBOPcanyon=true

    #  [default: true]
    B:generateBOPcanyonRavine=true

    #  [default: true]
    B:generateBOPchaparral=true

    #  [default: true]
    B:generateBOPconiferousForest=true

    #  [default: true]
    B:generateBOPcoralReef=true

    #  [default: true]
    B:generateBOPcrag=true

    #  [default: true]
    B:generateBOPdeadForest=true

    #  [default: true]
    B:generateBOPdeadSwamp=true

    #  [default: true]
    B:generateBOPdenseForest=true

    #  [default: true]
    B:generateBOPdryRiver=true

    #  [default: true]
    B:generateBOPeucalyptusForest=true

    #  [default: true]
    B:generateBOPfen=true

    #  [default: true]
    B:generateBOPflowerField=true

    #  [default: true]
    B:generateBOPfrostForest=true

    #  [default: true]
    B:generateBOPfungiForest=true

    #  [default: true]
    B:generateBOPgarden=true

    #  [default: true]
    B:generateBOPglacier=true

    #  [default: true]
    B:generateBOPgrassland=true

    #  [default: true]
    B:generateBOPgrove=true

    #  [default: true]
    B:generateBOPheathland=true

    #  [default: true]
    B:generateBOPhighland=true

    #  [default: true]
    B:generateBOPjadeCliffs=true

    #  [default: true]
    B:generateBOPkelpForest=true

    #  [default: true]
    B:generateBOPlandOfLakes=true

    #  [default: true]
    B:generateBOPlandOfLakesMarsh=true

    #  [default: true]
    B:generateBOPlavenderFields=true

    #  [default: true]
    B:generateBOPlushDesert=true

    #  [default: true]
    B:generateBOPlushRiver=true

    #  [default: true]
    B:generateBOPlushSwamp=true

    #  [default: true]
    B:generateBOPmangrove=true

    #  [default: true]
    B:generateBOPmapleWoods=true

    #  [default: true]
    B:generateBOPmarsh=true

    #  [default: true]
    B:generateBOPmeadow=true

    #  [default: true]
    B:generateBOPmeadowForest=true

    #  [default: true]
    B:generateBOPmoor=true

    #  [default: true]
    B:generateBOPmountain=true

    #  [default: true]
    B:generateBOPmysticGrove=true

    #  [default: true]
    B:generateBOPoasis=true

    #  [default: true]
    B:generateBOPominousWoods=true

    #  [default: true]
    B:generateBOPorchard=true

    #  [default: true]
    B:generateBOPoriginValley=true

    #  [default: true]
    B:generateBOPoutback=true

    #  [default: true]
    B:generateBOPprairie=true

    #  [default: true]
    B:generateBOPquagmire=true

    #  [default: true]
    B:generateBOPrainforest=true

    #  [default: true]
    B:generateBOPredwoodForest=true

    #  [default: true]
    B:generateBOPsacredSprings=true

    #  [default: true]
    B:generateBOPscrubland=true

    #  [default: true]
    B:generateBOPseasonalForest=true

    #  [default: true]
    B:generateBOPseasonalForestClearing=true

    #  [default: true]
    B:generateBOPshield=true

    #  [default: true]
    B:generateBOPshrubland=true

    #  [default: true]
    B:generateBOPsilkglades=true

    #  [default: true]
    B:generateBOPsludgepit=true

    #  [default: true]
    B:generateBOPsnowyConiferousForest=true

    #  [default: true]
    B:generateBOPspruceWoods=true

    #  [default: true]
    B:generateBOPsteppe=true

    #  [default: true]
    B:generateBOPtemperateRainforest=true

    #  [default: true]
    B:generateBOPthicket=true

    #  [default: true]
    B:generateBOPtropicalRainforest=true

    #  [default: true]
    B:generateBOPtropics=true

    #  [default: true]
    B:generateBOPtundra=true

    #  [default: true]
    B:generateBOPvolcano=true

    #  [default: true]
    B:generateBOPwasteland=true

    #  [default: true]
    B:generateBOPwetland=true

    #  [default: true]
    B:generateBOPwoodland=true

    #  [default: true]
    B:generateBOPxericShrubland=true

    #  [default: true]
    B:"generatedeciduousForest*"=true
}


